:root{
    --color-secundario: #ae8d3e;
}
.menu{
    display: flex;
    list-style: none;
    background-color: #522676;
    padding: 0;
    gap: 10px;
}
.menu li a{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding: 8px 20px
}
.menu li a.activo{
    color: #000;
    background-color: #B5ADAD;
    font-weight: bold;
}
#reservas_container{
    max-width: 1200px;
    margin: 0 auto;
}
.contenido_reserva{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.contenedor_imagen{
    flex-basis: 340px;
}
.contenedor_imagen img{
    display: block;
    width: 100%;
    height: 260px;
    object-fit: cover;
    border: 2px solid #ae8d3e;
    border-radius: 10px;
}
.contenedor_precio{
    display: flex;
    gap: 20px;
    align-items: center;
}