    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            
            <div class="div_logo">
                <a href="/index.html" class="navbar-brand"><img src="https://res.cloudinary.com/diq2bkb49/image/upload/v1776957455/logo_fondo_transparente_mrrgwk.png" alt="Logo principal" class="navbar__logo"></a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-lg-3">
                    <li class="nav-item"><a href="/index.html" class="nav-link">Inicio</a></li>
                    <li class="nav-item"><a href="/pages/catalogoServicios/catalogoServicios.html" class="nav-link">Servicios</a> 
                    <li class="nav-item"><a href="/pages/aboutUs/aboutUs.html" class="nav-link">Acerca de nosotros</a></li>
                    <li class="nav-item"><a href="/pages/contact/contact.html" class="nav-link">Contactenos</a></li>
                    <li class="nav-item" id="admin-link" style="display: none;"><a href="/pages/admin/panelDeControl/panelControl.html" class="nav-link">Administrador</a></li>
                    <li class="nav-item login" id="nav-login-item">
                        <div id="user-info" style="display: none;">
                            <span class="user-name" id="userName"></span>
                            <button class="btn-cerrar-sesion" id="btnCerrarSesion">Cerrar sesión</button>
                        </div>
                        <div id="acceso-botones">
                        <button class="btn-iniciar-sesion">
                            <a href="/pages/login/login.html" class="enlace_link">
                                <i class="fa-solid fa-user"></i>
                                Iniciar sesión
                            </a>
                        </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>