:root{
    --color-primario: #522676;
    --color-secundario: #AE8D3E;
}
body{
    font-family: 'Montserrat', sans-serif;;
}
h1, h2, h3,h4,h5,h6 {
    font-family: 'Playfair Display' serif;
}
#header{
    width: 100%;
    background-color: var(--color-primario);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.navbar{
    height: 80px;
    align-items: center;
    padding: 0;
}
.container-fluid{
    height: 100%;
    flex-wrap:nowrap;
    align-items: stretch;
    
}
.div_logo{
    height: 100%;
    display: flex;
    align-items: center;
}
.div_logo h1{
    color: #fff;
}
.navbar-brand{
    display: flex;
    height: 100%;
    padding: 0;
}
.div_logo a img{
    height: 100%;
    display: block;
}
.navbar-collapse{
    align-items: stretch;
    height: auto;
}
.navbar-nav{
    margin-left: auto;
    margin-right: 0 !important;
    align-items: center;
    background-color: var(--color-primario);
}
.nav-item{
    height: 100%;
}
.nav-link {
    color: #fff;
    display: flex;
    align-items: center;
    transition: color 0.3s;
    height: 100%;
    font-size: 20px;
}
.login{
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 40px;
}
.enlace_link{
    gap: 10px;
}
.fa-user{
    font-size: 1.3rem;
    color: #fff;
}
.nav-link:hover, .nav-link:focus{
    color: var(--color-secundario);
}

.dropdown-menu{
    background-color: var(--color-primario);
    --bs-dropdown-spacer: 0;
    min-width: 100%;
    border-radius: 0;
    border: none;
    transition: all 0.3s ease;
    display: block;
    padding-top:0;
    padding-bottom: 0;
    width: max-content;

    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;
    visibility: hidden;
}

.dropdown-item{
    color: #fff
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
} 
.dropdown-item:focus, .dropdown-item:hover{
    background-color: transparent;
    color:var(--color-secundario);
}
.enlace_login{
    margin-left: 100px;
}
.navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon {
    filter: invert(1);
}
.navbar-nav .nav-link.active, .nav-link.show{
    color: var(--color-secundario)!important;
}

.btn-acceder{

    width: 100%;
    display: block;
    font-size: 18px;
    background: var(--color-secundario);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 auto;
}

.btn-acceder:hover {
    background: var(--color-primario);
    color: #fff;
    border: 1px solid #f8f8f8;
}

@media (max-width: 576px) {
    .navbar-toggler{
        margin-right: 15px;
    }
    .navbar {
        height: auto;
    }
    .navbar-nav {
        height: auto;
        align-items: flex-start;
        padding: 1rem;
    }
    .div_logo a img{
        height: 60px;
        padding: 10px;
    }
    .dropdown-item:hover, .dropdown-item:focus {
        color: var(--color-secundario);
        background-color: transparent !important;
    }
    .dropdown-item:active {
        color: var(--color-secundario);
        background-color: transparent;
    }
    .nav-item{
        width: 100%;
    }
    
    .nav-link {
        width: 100%;
        padding: 10px;
    }
    
    .dropdown-menu {
        opacity: 1;
        transform: none;
        visibility: visible;
        display: none;
        margin-left: 10px;
    }

    .dropdown-menu.show {
        display: block;
        padding-left: 15px;
        background-color: rgba(255,255,255,0.05);
    }
    .navbar-collapse{
        height: auto;
    }
    .dropdown-item {
        padding-left: 0;
    }
    .login{
        display: flex;
        align-items: center;
        margin-left: 0;
    }
    .enlace_link{
        gap: 10px;
    }
    
}
@media (max-width: 991px) {
    .navbar-toggler{
        margin-right: 15px;
    }
    .navbar {
        height: auto;
    }
    .container-fluid{
        padding: 0;
    }
    .navbar-collapse{
        height: auto;
    }
    .navbar-nav{
        height: auto;
        align-items: center;
    }
    .div_logo a img{
        height: 60px;
        padding: 10px;
    }
    .login{
        margin:0;
    }
    .nav-link{
        justify-content: center;
    }
    .dropdown-menu {
        opacity: 1;
        transform: none;
        visibility: visible;
        display: none;
       
    }
    .dropdown-menu.show {
        display: block;
        padding-left: 0;
        background-color: rgba(255,255,255,0.05);
    }
    .dropdown-item{
        display: flex;
        justify-content: center;
    }
    

}
@media(max-width:1024px){
    .nav-link{
        font-size: 1.125rem;
    }
}
@media (min-width: 992px) {
  /* estilos para desktop */

    .div_logo{
        padding: 20px;
    }
}