<div class="d-flex">

  <aside id="sidebar" class="sidebar d-flex flex-column collapsed">

    <div>
      <div class="sidebar-header">
        <h4 class="logo-text">Admin</h4>
        <button id="toggleBtn" class="btn-toggle">
          <i class="fas fa-bars"></i>
        </button>
      </div>

      <ul class="nav flex-column mt-4">

        <li>
          <a class="nav-link active" data-page="/components/metricas/metricas.html">
            <i class="fas fa-home"></i>
            <span class="link-text">Inicio</span>
          </a>
        </li>

        <li>
          <a class="nav-link" data-page="/pages/admin/listaServicios/listaServicios.html">
            <i class="fas fa-scissors"></i>
            <span class="link-text">Servicios</span>
          </a>
        </li>

        <li>
          <a class="nav-link" data-page="/pages/admin/listaReservas/listaReservas.html">
            <i class="fas fa-calendar-check"></i>
            <span class="link-text">Reservas</span>
          </a>
        </li>

      </ul>
    </div>


    <div class="mt-auto mb-3">
      <a class="nav-link logout">
        <i class="fas fa-right-from-bracket"></i>
        <span class="link-text">Salir</span>
      </a>
    </div>

  </aside>

  <main id="content" class="content px-2 md-p-4 w-100"></main>

</div>