
<body class="p-3 m-0 border-0 bd-example m-0 border-0">

  <h1 class=" card-title text-center">Servicios Destacados</h1>
  <!-- Ejemplo de las card Servicios Dsetacados-->
  <div class="container-custom mt-4">
    <div class="row">

      <!-- Card Peluquería -->
      <div class="col-md-3 mb-3 card__container">
        <div class="card h-100 text-center">
          <i class="fa-solid fa-scissors card__icon"></i>
          <img src="https://res.cloudinary.com/diq2bkb49/image/upload/v1776957777/keratina_bjqvof.png"
            class="mx-auto mt-3 img-container" alt="Peluquería">
          <div class="card-body d-flex flex-column">
            <h5 class="card-titleDestacado mb-3">Tratamiento de Keratina</h5>
            <p >Alisado profundo que elimina el frizz y deja el cabello sedoso</p>
            <p class="card__price">$250.000</p>
            <div class="mt-auto">
              <a href="/pages/catalogoServicios/catalogoServicios.html" class="btn btn-primary btn__styles">Reservar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card h-100 text-center">
          <i class="fa-solid fa-spray-can-sparkles card__icon"></i>
          <img src="https://res.cloudinary.com/diq2bkb49/image/upload/v1776957775/barbaAfeitado_fcacso.png"
            class="mx-auto mt-3 img-container" alt="Peluquería">
          <div class="card-body d-flex flex-column">
            <h5 class="card-titleDestacado mb-3">Barba y Afeitado</h5>
            <p >Servicio completo de perfilado de barba y afeitado clásico</p>
            <p class="card__price">$300.000</p>
            <div class="mt-auto">
              <a href="/pages/catalogoServicios/catalogoServicios.html" class="btn btn-primary btn__styles">Reservar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card h-100 text-center">
          <i class="fa-solid fa-mortar-pestle card__icon"></i>
          <img src="https://res.cloudinary.com/diq2bkb49/image/upload/v1776957778/limpiezaFacial_fmvrnn.png"
            class="mx-auto mt-3 img-container" alt="Peluquería">
          <div class="card-body d-flex flex-column">
            <h5 class="card-titleDestacado mb-3">Limpieza Facial</h5>
            <p >Tratamiento facial profundo para eliminar impurezas y revitalizar</p>
            <p class="card__price">$70.000</p>
            <div class="mt-auto">
              <a href="/pages/catalogoServicios/catalogoServicios.html" class="btn btn-primary btn__styles">Reservar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card text-center">
          <i class="fa-solid fa-wand-magic-sparkles card__icon"></i>
          <img src="https://res.cloudinary.com/diq2bkb49/image/upload/v1776957779/maquillajeProfesional_h9vo1k.png"
            class="mx-auto mt-3 img-container" alt="Peluquería">
          <div class="card-body d-flex flex-column">
            <h3 class="card-titleDestacado mb-3">Maquillaje Profesional</h3>
            <p >Maquillaje para ocasiones especiales con productos de alta calidad</p>
            <p class="card__price">$90.000</p>
            <div class="mt-auto">
              <a href="/pages/catalogoServicios/catalogoServicios.html" class="btn btn-primary btn__styles">Reservar</a>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>

</body>
