

<footer class="footer">
    <div class="footer-content">

        <div class="footer-logo">
            <img src="https://res.cloudinary.com/diq2bkb49/image/upload/v1776957455/logo_fondo_transparente_mrrgwk.png" alt="Style Factory Logo" width="150">
            <p>Cortes que inspiran</p>
        </div>

        <div class="footer-links">
            <a href="/index.html">Inicio</a>
            <a href="/pages/services/services.html">Servicios</a>
            <a href="/pages/aboutUs/aboutUs.html">Nosotros</a>
            <a href="/pages/contact/contact.html">Contacto</a>
        </div>

        <div class="footer-contact">
            <p><i class="fa-solid fa-phone mx-2"></i> +57 300 000 0000</p>
            <p><i class="fa-regular fa-envelope mx-2"></i>info@stylefactory.com</p>

            <div class="social-links">
                <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://wa.me/573000000000" target="_blank"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>

    </div>

    <div class="footer-copyright">
        <p>© 2026 Timely App</p>
    </div>
</footer>