:root{
    --color-primario: #522676;
    --color-secundario: #AE8D3E;
}

.footer {
    background: var(--color-primario);
    color: #ffffff;
    margin-top: 50px;
    font-size: 14px;
    border-top: 1px solid #B5ADAD;
}

.footer p{
     font-size: 15px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 20px;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    margin: 10px 0;
    transition: 0.3s;
    font-size: 20px;
}

.footer-links a:hover {
    color: #AE8D3E;
}

.footer-contact p {
    margin: 5px 0;
}

.social-links {
    display: flex;
    gap: 15px;
    margin-top: 15px;
    justify-content: center;
}

.social-links a {
    color: #fffdfd;
    font-size: 20px;
    transition: 0.3s;
}

.social-links a:hover {
    color: #AE8D3E;
    transform: scale(1.2);
}

.footer-copyright {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #B5ADAD;
}