
<section class="brand-values">

  <div class="values-intro">

    <h6 class="values-tag">
      Nuestra esencia
    </h6>

    <h2>
      La belleza está en
      <span>cómo hacemos sentir</span>
      a cada cliente
    </h2>

    <p>
      Más que un servicio de peluquería,
      creamos experiencias donde el detalle,
      la confianza y la atención personalizada
      hacen la diferencia.
    </p>

  </div>

  <div class="values-list">

       <!-- linea de separación -->
    <div class="value-item">
      <div class="value-line"></div>
      <div class="value-text">
        <span class="value-count">
          01
        </span>
        <h3>
          Profesionalismo
        </h3>
        <p>
          Técnicas modernas, estilistas
          capacitados y atención enfocada
          en resultados de alta calidad.
        </p>
      </div>
      <div class="value-image">
        <img  src="https://res.cloudinary.com/dh9dfyyuv/image/upload/v1777676567/Hair_salon_interior_neon_sign_202605011801_w1tb3w.jpg"
          alt="Foto interna de la peluqueria">
      </div>
    </div>
    <div class="value-item">
      <div class="value-line"></div>
      <div class="value-text">
        <span class="value-count">
          02
        </span>
        <h3>
          Compromiso
        </h3>
        <p>
          Escuchamos tus necesidades y
          cuidamos cada detalle de tu
          experiencia dentro del salón.
        </p>

      </div>

      <div class="value-image">
        <img src="https://res.cloudinary.com/dh9dfyyuv/image/upload/v1777677042/Stylists_working_in_hair_salon_202605011810_vq1ihm.jpg"
          alt="Foto interna de la peluqueria">
      </div>

    </div>

    <div class="value-item">
      <div class="value-line"></div>
      <div class="value-text">
        <span class="value-count">
          03
        </span>
        <h3>
          Confianza
        </h3>
        <p>
          Un ambiente cálido y seguro para
          que disfrutes cada momento con
          tranquilidad y bienestar.
        </p>
      </div>
      <div class="value-image">
        <img src="https://res.cloudinary.com/dh9dfyyuv/image/upload/v1777677425/Barbershop_interior_with_clients__202605011816_zi1uzd.jpg"
          alt="Foto interna de la peluqueria">
      </div>

    </div>

  </div>

</section>